*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
	font-family: "Montserrat" ;
	src:
		url("fonts/Montserrat-VariableFont_wght.ttf") format('truetype');
}

html{
    scroll-behavior: smooth;
}

body {
    background: url(images/Background.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
    font-family: "Montserrat" ;
    text-align: center;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: #f1d5d9;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px ;
}



ul{
    list-style: none;
}

h1.post-title{
display: none;
}

/* Navbar */

#menu {
    background:rgba(255,255,255,0.1);
    height: 80px;
    width: 100%;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid rgba(255,255,255,0.2);
  }

  #menu::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.4), transparent);
    transition: 700ms;
  }

  #menu:hover:before{
    left: 100%;
  }

  #menu a:hover{
    transition: 300ms;
    color: #8a2435;
    background: #fff;
    border-radius: 25px;
}
#menu ul{
    text-align: center;
  }

#menu ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.current_page_item a{
    color: #8a2435;
    background: #fff;
    border-radius: 25px;
}

/* Burger */

.menu-toggle {
    position: absolute;
    flex-direction: column;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 20px;
    display: none;
}

.bar1 {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: transform 300ms ease-in-out;
}

.bar2{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.bar3{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: transform 300ms ease-in-out;
}

.bar1.active{
    transform:rotate(45deg);
    position: absolute;
    top: 5px;
    transition: transform 300ms ease-in-out;

}

.bar2.active{
    opacity: 0;
}
.bar3.active{
    transform:rotate(-45deg);
    transition: transform 300ms ease-in-out;

}

/* Responsive Navbar */

@media screen and (max-width: 768px) {
#menu ul{
    margin-top: 80px;
    display: flex;
    float: none;
    position: fixed;
    z-index: 9;
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    flex-direction: column;
    top: -1300px;
    transition: 300ms;
}

#menu ul.active{
    top:45px;
    transition: 300ms;
}

.menu-toggle{
    display: block;
}

.active#menu-items ul{
    transform: translateX(-20px);
    transition-duration: 300ms;
}

}

/* Contact form */

.container{
    max-width: 700px;
    width: 100%;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.4);
    padding: 25px 30px;
    border-radius: 5px;
    
}

.wpcf7-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.details{
    color: white;
    transition: 300ms;
}

.details:hover{
    opacity: 0.5;
    transition: 300ms;
}

.input-box {
    margin: 20px 0 12px 0;
}

.input-box input{
height: 45px;
width: 100%;
outline: none;
border-radius: 5px;
border: none;
background: rgba(255,255,255,.2);
padding-left: 5px;
border-bottom-width: 2px ;
transition: 300ms;
}

.input-box input::placeholder{
    color: white;
}


.details{
    font-weight: 500;
}

.textarea{
    margin: auto;
    outline: none;
border-radius: 5px;
border: none;
}

textarea{
    outline: none;
    border-radius: 5px;
    resize: none;
    padding-left: 5px;
    padding-top: 5px;
    height: 150px;
    max-width: 100%;
    border: none;
    background: rgba(255,255,255,.2)
}

.button{
    margin: 45px 0;
}

.button input{
    height: 100%;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    background: rgba(255,255,255,.2);
    cursor: pointer;
}


/* Responsive */

@media screen and (max-width: 584px) {
    .container{
        max-width:100% ;
    }

    .input-box{
        width: 100%;
    }

    .textarea{
        width: 100%;
    }
}


/* Page loading */

#preloader{
    background: white url(images/preloader.gif) no-repeat center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999;
}
  

/* Page content */

.thumbnail{
    margin-top: 50px;
    
}

.thumbnail img{
    width: 50%;
    height: auto;
}

.content{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content p{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.wp-block-buttons a{
    background: #fff;
    display: inline-block;
    padding: 15px 30px;
    color: #8a2435;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

/* Select */

#category-select{
    margin-top: 100px;
    border: 1px solid #a2d2ff;
    padding: 5px;
    width: 150px;
    overflow:hidden;
  }
  #category-select option{
  padding:5px;
  }

/* Page Projets */

.publication-list a{
margin-left: 20px;
margin-top: 20px;
display: flex;
gap: 15px;
transition: transform 2s;
justify-content: center;
}


.publication-list img{
    width: 30%;
    height: auto;
    border-radius: 50% 50% 51% 49% / 52% 51% 49% 48% ;
    
}

.publication-list img:hover{
transform: scale(1.1);
cursor: pointer;
}


/* Glass page */

.post{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh ;
}

.post-content{
    padding-bottom: 15px;
    margin-top: 50px;
    margin-bottom: 50px ;
    position: relative;
    width: 80%;
    min-height: calc(100vh - 280px);
    min-height: 300px; ;
    background: rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.5)
}

/* Page accueil */

p.Accueil{
    margin-left: 20px;
    margin-top: 20px;
    color: #8a2435;
    max-width: 700px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.5);
    padding: 40px;
}

.post-accueil{
    display: flex;
    justify-content: center;
    align-items: center;

}

.wp-block-image img{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%  ;
    max-width: 400px;
    animation: animateImg 5s linear infinite;
}

@keyframes animateImg {
    0%, 100%{
        transform: translateY(50px);
    }
    50%{
        transform: translateY(100px);
    }
}

.wp-block-button.Accueil{
    margin-left: 80px;
}

/* Responsive Glass page */

@media screen and (max-width: 1200px) {
.post-content{
    position: relative;
    width: calc(100% -20px);
}
}

@media screen and (max-width: 1721px) {
    .post-content.post-accueil{
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
    .wp-block-image img{
        max-width: 200px;
    }
    .wp-block-image{
        position: relative;
        top: -100px;
    }
    }

    @media screen and (max-width: 376px) {
        .wp-block-button.Accueil{
            font-size: 10px;
            margin: auto;
        }
        }

/* Cercle de Progression */

.box{
    position: relative;
    margin-top: 20px;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.card{
    position: relative;
    width: 220px;
    height: 250px;
    background: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percent{
    position: relative;
    width: 150px;
    height: 150px;
    
}

.percent svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.percent svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #191919; ;
    transform: translate(5px, 5px);
}

.percent svg circle:nth-child(2){
    stroke:var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: 60;
    opacity: 0;
    animation: fadeIn 1s linear forwards ;
}

.percent.php svg circle:nth-child(2){
    stroke:var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: 220;
    opacity: 0;
    animation: fadeIn 1s linear forwards ;
}

.percent.js svg circle:nth-child(2){
    stroke:var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: 320;
    opacity: 0;
    animation: fadeIn 1s linear forwards ;
}

@keyframes fadeIn {

    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}


.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    opacity: 0;
    animation: fadeIn 1s linear forwards ;
    animation-delay: 2s;
}

.number h2{
    margin-top: 20px;
    font-weight: 700;
    font-size: 2.5em;
}

.number p{
    margin-top: 10px;
}